[data-theme="light"] {
    --text-color: black;
    --background-color: rgb(247, 244, 244);
   
  }
  
[data-theme="dark"] {
--text-color: #fcfcfc;
--background-color: #1d1c1c;
}

.navbar a {
    color: var(--text-color);
}